<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>  
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>  
  
  <body>
  
  <p> Ce message a été envoyé par l'application "Labbook". </p>
  
  <p> <%= @message.who %> a écrit:</p>

  <p> <%= @message.core %> </p>  
	
  <p>Bye Bye</p>  
	
  </body>
</html> 