<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>  
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>  
  
  <body>
  
  <p> Thanks for your subscription to the Labbook. </p>
  
  <p> Your E-mail is <%= @user.email%></p>
  <p> Your login is <%= @user.name%></p>
  <p> Your password is <%= @user.password%></p>


  <p> You should print this e-mail. If you loose your data you can still contact the webmaster providing your name and e-mail. </p>	
  
  <p>Bye Bye</p>  
	
  </body>
</html> 