<% @jaune = "Detail"  %>
<% @orange_right = "Detail of a reference protocole" %>


<table border ="0" width="100%">
<tr>
 <td id="leftcell" >
  <%= render :partial => "headfoot", :locals => { :origin => @origine} %>
  <%= render :partial => 'form', :object => true, :locals => { :origin => @origine} %>
  <%= render :partial => "headfoot", :locals => { :origin => @origine} %>
 </td>
 <td id="rightcell">
 	<div id="prepicture"> </div>
 	<iframe id="picture" name="picture" src="/docs/detail_frame_picture/<%=@protref.id%>?table=Linkprotrefdoc" width="100%" height="500" frameborder="0"> iframe not supported by this browser.</iframe>	
 </td>
</tr>
</table>





