<% @orange_left = "Project : " + @project.name %>
<% @orange_right = "Edition of an experiment" %>
<% @origine = "edit"%>

<table border="0" width="100%">
<tr>
 <td id="leftcell">
 <% form_tag :controller => 'experiments', :action => 'update', :id => @experiment do %>
 <%= render :partial => 'form', :object => false, :locals => { :origin => @origine} %>
 <% end %>
 </td>
 
 <td id="rightcell">
 <div id="prepicture"> </div>
 <iframe id="picture" name="picture" src="../../docs/edit_frame_picture/<%=@experiment.id%>?table=Linkexpdoc" width="100%" height="500" frameborder="0"> iframe not supported by this browser.</iframe>	
 </td>
</tr>	
</table>

